@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root {
  --container-color: #eff3ff;
  --main-color: #6649b8;
  --text-color: #3A3B3C;
  --light-text: #404060;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: var(--container-color);
}

body::-webkit-scrollbar {
  width: 18px;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

.container {
  margin-left: 5rem;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 80px;
}

.nav {
  /* border: 1px solid var(--main-color); */
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  width: 80%;
}

.nav .logo {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
  /* margin: 0 auto 0 0; */
}

.nav .logo span {
  color: var(--main-color);
}

.fetch-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Search box */
.nav .search-box {
  max-width: 240px;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  padding: 8px 15px;
  background-color: var(--container-color);
  border-radius: 4rem;
  margin-right: 1.4rem;
  margin-left: 1.4rem;
}

.search-box .bx {
  color: var(--main-color);
  font-size: 1.1rem;
  transition: color 0.3s ease;
  cursor: pointer;
}

.search-box .bx:hover {
  color: var(--text-color);
}

#search-input {
  width: 100%;
  border: none;
  outline: none;
  color: var(--text-color);
  background: transparent;
  font-size: 0.938rem;
}

#search-input::placeholder {
  color: rgb(193, 193, 193);
}

#btn {
  display: block;
  padding: 5px 30px;
  font-size: 18px;
  background-color: var(--text-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-right: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btn:hover {
  background-color: var(--light-text);
}

.select-menu {
  position: relative;
  width: 180px;
  margin: auto;
  margin-top: 12px;
  margin-right: 40px;
  border: 1px solid var(--main-color);
}

.select-menu .select-btn {
  display: flex;
  height: 40px;
  background: var(--container-color);
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.select-btn i {
  font-size: 20px
}

.select-menu.active .select-btn i {
  transform: rotate(-180deg);
  transition: 0.2s;
}

.select-menu.active .options{
  display: block;
}

.select-menu .options {
  position: relative;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  /* margin-top: 10px; */
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  display: none;
}

.options .option {
  display: flex;
  height: 30px;
  cursor: pointer;
  align-items: center;
  padding: 0 10px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}

/* .options .option.bug {
  background: green;
} */

.options .option:hover {
  background: #f2f2f2;
}

.option .option-text {
  font-size: 14px;
}


/* Side Type Navigation */
.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--container-color);
  top: 0;
  left: 0;
}

.navbar-nav {
  height: 70vh;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
}

.nav-item {
  width: 100%;
  transition: all 0.3s ease;
}

.nav-item:hover .nav-link,
.nav-item:hover .bx {
  color: var(--main-color);
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-link span {
  pointer-events: none;
}

.navbar-nav .bx {
  color: var(--light-text);
  font-size: 45px;
  pointer-events: none;
}

/* Pokemon Card */
.card-container {
  margin-top: 70px;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 92px;
}

.card-wrapper-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

#card {
  /* display: flex;
  flex-direction: column; */
  width: 350px;
  position: relative;
  padding: 30px 20px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

#card img {
  display: block;
  width: 180px;
  max-height: 200px;
  position: relative;
  margin: 20px auto;
}


.hp {
  width: 80px;
  background-color: #fff;
  text-align: center;
  padding: 8px 0;
  border-radius: 30px;
  font-weight: 400;
  margin-left: auto;
}

.id {
  width: 70px;
  background-color: var(--text-color);
  color: #fff;
  text-align: center;
  padding: 4px 0;
  border-radius: 3px;
  font-weight: 300;
  margin-top: 4px;
  position: relative;
  top: -65px;
  left: 0;
}

.poke-name {
  text-align: center;
  font-weight: 600;
}

.types {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px 0;
}

.hp span,
.types span,
.id span {
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 600;
}

.types span {
  padding: 5px 20px;
  border-radius: 20px;
  color: #fff;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.stats p {
  color: var(--light-text);
}

